@import "tailwindcss";

.hide {
   overflow: auto; /* Enables scrolling */
   scrollbar-width: none; /* Firefox */
   -ms-overflow-style: none; /* IE and Edge */
}
.hide::-webkit-scrollbar {
   display: none; /* Chrome, Safari, and Opera */
}